@charset "UTF-8";
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("../fonts/Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-It.woff2") format("woff2"), url("../fonts/SourceCodePro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Source Code Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Source Code Pro"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  font-style: normal; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 767.98px) {
    .container {
      padding-left: 64px;
      padding-right: 64px; } }

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  background-color: #fff; }
  @media (max-width: 767.98px) {
    .scroll {
      background: #000; } }

.form__btn {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.form__column {
  padding: 0px 15px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  font-family: "Formular";
  font-weight: bold;
  height: 56px;
  color: #000000;
  background: #00FA9A;
  margin-right: 16px; }
  @media (max-width: 767.98px) {
    .btn {
      font-size: calc(18px + 10.2*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .btn {
      font-size: calc(18px + 6*(100vw / 1440)); } }
  .btn:last-child {
    margin-right: 0; }
  @media (max-width: 576.98px) {
    .btn {
      width: 130px;
      height: 40px; } }
  @media (min-width: 767.98px) {
    .btn {
      margin-right: 30px;
      padding: 0px 16px 0px 19px; } }
  .btn.fw {
    width: 100%; }
  .btn i {
    margin-right: 19px; }
    @media (max-width: 576.98px) {
      .btn i {
        margin-right: 9px; } }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.up {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 10px;
  width: 40px;
  height: 45px;
  background: #00FA9A;
  z-index: 11;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer; }

@media (min-width: 767.98px) {
  .up {
    right: 25px;
    width: 50px;
    height: 65px; } }

.up:after,
.up:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff; }

@media (min-width: 767.98px) {
  .up:after,
  .up:before {
    width: 26px; } }

.up:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 14px; }

@media (min-width: 767.98px) {
  .up:before {
    left: 15px; } }

.up:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  right: -4px; }

@media (min-width: 767.98px) {
  .up:after {
    right: -10px; } }

.title {
  font-family: "Formular";
  font-weight: bold;
  line-height: 32px; }
  @media (max-width: 767.98px) {
    .title {
      font-size: calc(24px + 37.4*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .title {
      font-size: calc(24px + 22*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .title {
      line-height: 48px; } }
  @media (min-width: 992.98px) {
    .title {
      line-height: 56px; } }

@media (max-width: 767.98px) {
  .section-intro .title {
    margin-bottom: 8px; } }

.section-intro .title span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    .section-intro .title span {
      font-size: calc(16px + 27.2*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .section-intro .title span {
      font-size: calc(16px + 16*(100vw / 1440)); } }
  .section-intro .title span:after {
    content: 'і';
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -22px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00FA9A; }
    @media (min-width: 767.98px) {
      .section-intro .title span:after {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 15px;
        right: -32px; } }

.action-block {
  max-width: 661px;
  margin: 0 auto; }
  @media (max-width: 992.98px) {
    .action-block {
      margin-bottom: 48px; } }
  .action-block p {
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .action-block p {
        font-size: calc(12px + 3.4*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .action-block p {
        font-size: calc(12px + 2*(100vw / 1440)); } }

.header {
  border-bottom: 2px solid #000000; }
  .header.scroll .header-menu__icon span {
    background-color: #fff; }
  .header__brand {
    z-index: 100; }
  .header__body {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 992.98px) {
      .header__body {
        height: 96px; } }
  .header .action-block {
    opacity: 0;
    visibility: hidden; }

@media (min-width: 767.98px) {
  .nav {
    margin-right: -13px; } }

@media (max-width: 767.98px) {
  .nav {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center; } }

@media (min-width: 767.98px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.nav__item {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid transparent; }
  .nav__item:hover {
    border-bottom: 2px solid #00FA9A; }
  @media (min-width: 767.98px) {
    .nav__item {
      margin-right: 50px; }
      .nav__item:last-child {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .nav__item {
      margin-right: 116px; } }

.nav__link {
  font-family: 'Formular';
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: #000000; }
  @media (max-width: 767.98px) {
    .nav__link {
      font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .nav__link {
      font-size: calc(14px + 10*(100vw / 1440)); } }

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .nav__link {
    font-size: calc(18px + 44.2*((100vw - 320px) / 1440)); } }

@media (max-width: 767.98px) and (min-width: 767.98px) {
  .nav__link {
    font-size: calc(18px + 26*(100vw / 1440)); } }

@media (max-width: 767.98px) {
  .header-menu {
    position: fixed;
    top: 0;
    right: -200%;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header-menu.active {
      right: 0; }
      .header-menu.active .nav__link {
        font-size: 24px;
        line-height: 32px; }
      .header-menu.active .nav__item {
        margin-bottom: 40px; }
        .header-menu.active .nav__item:last-child {
          margin-bottom: 70px; }
      .header-menu.active .action-block {
        opacity: 1;
        visibility: visible; } }
  @media (max-width: 767.98px) and (max-width: 767.98px) {
    .header-menu__item {
      margin-bottom: 30px;
      border-bottom: 2px solid #00FA9A;
      padding: 10px 0;
      width: 50%;
      margin: 0 auto; } }

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100; }
    .header-menu__icon span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000; }
      .header-menu__icon span:first-child {
        top: 0px; }
      .header-menu__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header-menu__icon.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      .header-menu__icon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header-menu__icon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/
@media (min-width: 992.98px) {
  .intro__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 992.98px) {
  .intro__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%; } }

.intro__column-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url(../img/intro-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 16px;
  position: relative; }
  @media (max-width: 767.98px) {
    .intro__column-l {
      height: 192px; } }
  @media (min-width: 767.98px) and (max-width: 992.98px) {
    .intro__column-l {
      height: 320px; } }
  @media (min-width: 767.98px) {
    .intro__column-l {
      padding-left: 64px; } }

.intro__leble {
  font-family: "Formular";
  font-weight: bold;
  color: #00FA9A;
  background: #000000;
  position: absolute;
  width: 130px;
  height: 40px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 40px; }
  @media (max-width: 767.98px) {
    .intro__leble {
      font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .intro__leble {
      font-size: calc(14px + 10*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .intro__leble {
      top: 24px;
      height: 80px;
      width: 242px;
      line-height: 80px; } }

.intro__column-icon {
  margin-bottom: 16px;
  width: 68px;
  height: 67px; }
  @media (min-width: 767.98px) and (max-width: 992.98px) {
    .intro__column-icon {
      margin-bottom: 23px; } }
  @media (min-width: 767.98px) {
    .intro__column-icon {
      width: 168px;
      height: 167px; } }
  @media (min-width: 992.98px) {
    .intro__column-icon {
      margin-bottom: 73px; } }

.intro__column-r {
  padding: 16px 16px 32px 16px; }
  @media (min-width: 767.98px) {
    .intro__column-r {
      padding: 40px 10px 56px 40px; } }
  .intro__column-r p {
    font-family: "Source Code Pro";
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 8px; }
    @media (max-width: 767.98px) {
      .intro__column-r p {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .intro__column-r p {
        font-size: calc(12px + 6*(100vw / 1440)); } }
    @media (min-width: 767.98px) {
      .intro__column-r p {
        margin-bottom: 40px;
        line-height: 24px; } }

.intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  @media (max-width: 767.98px) {
    .intro__list {
      font-size: calc(12px + 10.2*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .intro__list {
      font-size: calc(12px + 6*(100vw / 1440)); } }
  @media (max-width: 767.98px) {
    .intro__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (min-width: 992.98px) and (max-width: 1200px) {
    .intro__list {
      font-size: 13px; } }
  .intro__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767.98px) {
      .intro__list li {
        margin-bottom: 8px; }
        .intro__list li:last-child {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          width: 100%; } }
    .intro__list li:after {
      content: '/';
      margin: 0px 5px 0px 5px; }
      @media (min-width: 992.98px) {
        .intro__list li:after {
          margin: 0px 15px 0px 15px; } }
    .intro__list li:last-child {
      margin-right: 0; }
      .intro__list li:last-child:after {
        content: '';
        display: none; }

.intro__action {
  margin-bottom: 0; }
  .intro__action p {
    font-family: "Formular";
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 10px;
    text-transform: capitalize !important; }
    @media (max-width: 767.98px) {
      .intro__action p {
        font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .intro__action p {
        font-size: calc(14px + 10*(100vw / 1440)); } }
    @media (max-width: 576.98px) {
      .intro__action p {
        margin-bottom: 4px; } }

.section__bottom {
  height: 64px;
  background-image: url(../img/sec-bot.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section__bottom-text {
  font-family: "Formular";
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 10px; }
  @media (max-width: 767.98px) {
    .section__bottom-text {
      font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .section__bottom-text {
      font-size: calc(14px + 10*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .section__bottom-text {
      padding: 5px 22px;
      text-transform: capitalize; } }
  @media (max-width: 767.98px) {
    .section__bottom-text span {
      display: block; } }

[data-tooltip] {
  position: relative; }

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 0;
  background: #cfcdcd;
  color: #000;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 12px;
  line-height: 1.5; }

[data-tooltip]:hover::before {
  opacity: 1;
  top: -1em; }

.section {
  position: relative;
  padding: 48px 0px 48px 0px; }
  @media (min-width: 767.98px) {
    .section {
      padding: 87px 0px 80px 0px; } }

.section-01 {
  border-bottom: 3px solid #000000;
  padding-bottom: 17px; }
  @media (min-width: 767.98px) {
    .section-01 {
      padding-bottom: 37px; } }

@media (min-width: 767.98px) {
  .section-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.section-body__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 992.98px) {
    .section-body__column {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.section .title {
  margin-bottom: 24px; }
  @media (min-width: 767.98px) {
    .section .title {
      margin-bottom: 48px; } }
  .section .title > span {
    background-color: #00FA9A; }

.section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px; }
  @media (min-width: 767.98px) {
    .section__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      width: 50%;
      margin-bottom: 48px;
      padding-right: 30px; } }
  @media (min-width: 1200px) {
    .section__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%;
      width: 30%;
      padding-right: 60px; } }
  .section__item:first-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .section__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .section__item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
    @media (min-width: 1200px) {
      .section__item:nth-child(3) {
        padding-right: 0; } }
  .section__item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .section__item:nth-child(5) {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .section__item:last-child {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; }

.section__item-icon {
  margin-right: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  width: 64px; }
  @media (min-width: 576.98px) {
    .section__item-icon {
      margin-right: 36px; } }
  @media (min-width: 767.98px) {
    .section__item-icon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      width: 80px; } }

.section__item-text {
  font-family: "Source Code Pro";
  font-weight: normal;
  line-height: 16px; }
  @media (max-width: 767.98px) {
    .section__item-text {
      font-size: calc(14px + 6.8*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .section__item-text {
      font-size: calc(14px + 4*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .section__item-text {
      line-height: 24px;
      padding-top: 5px; } }

.section-02 {
  border-bottom: 3px solid #000000; }

@media (min-width: 992.98px) {
  .section__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%; }
  .section__column-content {
    padding-right: 114px; } }

.section__text {
  font-weight: normal;
  line-height: 16px; }
  @media (max-width: 767.98px) {
    .section__text {
      font-size: calc(14px + 6.8*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .section__text {
      font-size: calc(14px + 4*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .section__text {
      line-height: 24px; } }
  .section__text span {
    background-color: #00FA9A; }

.section__column-img img {
  margin-bottom: 26px; }
  @media (max-width: 767.98px) {
    .section__column-img img {
      margin-bottom: 16px; } }

.section-03 .section-body {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.body-item {
  text-align: center; }
  @media (min-width: 767.98px) {
    .body-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 21%;
      flex: 0 1 21%;
      width: 21%; } }
  .body-item:first-child .body-item__text {
    text-align: left; }
    @media (max-width: 767.98px) {
      .body-item:first-child .body-item__text {
        font-size: calc(14px + 6.8*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .body-item:first-child .body-item__text {
        font-size: calc(14px + 4*(100vw / 1440)); } }
  .body-item__img {
    margin-bottom: 16px; }
    @media (min-width: 767.98px) {
      .body-item__img {
        margin-bottom: 48px;
        padding: 0px 40px 0px 40px; } }
  .body-item__title {
    font-family: "Formular";
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .body-item__title {
        font-size: calc(24px + 13.6*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .body-item__title {
        font-size: calc(24px + 8*(100vw / 1440)); } }
    @media (max-width: 767.98px) {
      .body-item__title {
        line-height: 40px; } }
  .body-item__step {
    padding: 8px 0px 8px 0px;
    background: #00FA9A;
    font-family: "Source Code Pro";
    font-weight: normal;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .body-item__step {
        font-size: calc(18px + 10.2*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .body-item__step {
        font-size: calc(18px + 6*(100vw / 1440)); } }
    .body-item__step.black {
      background: #000;
      color: #fff; }
  .body-item__text {
    line-height: 16px; }
    @media (max-width: 767.98px) {
      .body-item__text {
        font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .body-item__text {
        font-size: calc(14px + 10*(100vw / 1440)); } }
    @media (min-width: 576.98px) {
      .body-item__text {
        line-height: 24px; } }

.body-slider {
  padding-bottom: 30px; }
  .body-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -25px; }
  .body-slider li {
    margin-right: 10px; }
    .body-slider li:last-child {
      margin-right: 0; }
    .body-slider li button {
      width: 8px;
      height: 8px;
      background: #00FA9A;
      border-radius: 50%;
      font-size: 0; }
      @media (min-width: 767.98px) {
        .body-slider li button {
          width: 16px;
          height: 16px; } }
    .body-slider li.slick-active button {
      background: #000; }

.slider-section__bg {
  height: 704px !important; }
  @media (max-width: 767.98px) {
    .slider-section__bg {
      height: 340px !important; } }

.section-04 {
  padding-top: 0;
  padding-bottom: 0; }
  .section-04 .title {
    margin-left: 10px;
    margin-bottom: 42px; }
    .section-04 .title span {
      display: inline;
      background-color: #00FA9A;
      -webkit-box-shadow: -10px 0 0 #00FA9A, 10px 0 0 #00FA9A;
      box-shadow: -10px 0 0 #00FA9A, 10px 0 0 #00FA9A;
      padding: 8px;
      line-height: 40px; }

.section-inside {
  position: absolute;
  top: 22px;
  left: 16px; }
  @media (min-width: 767.98px) {
    .section-inside {
      top: 72px;
      left: 64px; } }

.inside-slider {
  width: 288px;
  height: 168px;
  border: 3px solid #000;
  background: #FFFFFF; }
  @media (min-width: 767.98px) {
    .inside-slider {
      width: 558px;
      height: 312px;
      border: 6px solid #000; } }
  .inside-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 23px; }
    @media (max-width: 576.98px) {
      .inside-slider .slick-dots {
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
  .inside-slider li {
    margin-right: 10px; }
    .inside-slider li:last-child {
      margin-right: 0; }
    .inside-slider li button {
      width: 8px;
      height: 8px;
      background: #00FA9A;
      border-radius: 50%;
      font-size: 0; }
      @media (min-width: 767.98px) {
        .inside-slider li button {
          width: 16px;
          height: 16px; } }
    .inside-slider li.slick-active button {
      background: #000; }
  .inside-slider__text {
    padding: 16px;
    line-height: 16px; }
    @media (max-width: 767.98px) {
      .inside-slider__text {
        font-size: calc(12px + 20.4*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .inside-slider__text {
        font-size: calc(12px + 12*(100vw / 1440)); } }
    @media (min-width: 767.98px) {
      .inside-slider__text {
        line-height: 32px;
        padding: 23px; } }

.section__list {
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 25px;
  padding-left: 22px; }
  @media (max-width: 767.98px) {
    .section__list {
      font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .section__list {
      font-size: calc(14px + 10*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .section__list {
      padding-right: 22px;
      margin-bottom: 50px;
      line-height: 32px; } }
  @media (min-width: 767.98px) and (max-width: 1200px) {
    .section__list {
      margin-bottom: 90px; } }
  .section__list li {
    list-style: disc;
    margin-bottom: 16px; }

.section__package {
  margin-bottom: 32px; }
  @media (min-width: 767.98px) {
    .section__package {
      margin-bottom: 46px; } }
  @media (min-width: 992.98px) {
    .section__package {
      margin-bottom: 102px; } }

.section-06 {
  border-bottom: 3px solid #000000;
  padding-top: 0; }
  .section-06 .section__column-content {
    padding: 0; }
  .section-06 .section__text {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-weight: normal;
    line-height: 24px;
    padding: 0px; }
    @media (max-width: 767.98px) {
      .section-06 .section__text {
        font-size: calc(14px + 37.4*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .section-06 .section__text {
        font-size: calc(14px + 22*(100vw / 1440)); } }
    @media (min-width: 576.98px) {
      .section-06 .section__text {
        padding: 0px 0px 0px 25px;
        line-height: 48px; } }

.section-07 {
  padding-bottom: 40px;
  border-bottom: 3px solid #000000; }
  .section-07 .section__list {
    line-height: 22px; }
    @media (min-width: 992.98px) {
      .section-07 .section__list {
        line-height: 40px; } }
  .section-07 .section__list li {
    margin-bottom: 15px; }

.section__column {
  min-width: 0; }

.item-slider__head {
  font-family: "Formular";
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 40px; }
  @media (max-width: 767.98px) {
    .item-slider__head {
      font-size: calc(16px + 27.2*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .item-slider__head {
      font-size: calc(16px + 16*(100vw / 1440)); } }
  @media (max-width: 576.98px) {
    .item-slider__head {
      margin-bottom: 24px;
      line-height: 26px; } }
  @media (min-width: 992.98px) {
    .item-slider__head {
      line-height: 40px; } }

.module-slider__item li ul {
  margin-left: 40px; }
  .module-slider__item li ul li {
    list-style: circle; }

.section__column {
  position: relative; }

.module-slider__body {
  min-width: 0; }

.control-module-slider__arrow {
  position: absolute;
  top: 5px;
  cursor: pointer; }
  .control-module-slider__arrow-prev {
    left: 0; }
  .control-module-slider__arrow-next {
    right: 0; }

.module-slider-r {
  margin-left: 40px;
  margin-top: -14px; }
  @media (max-width: 576.98px) {
    .module-slider-r {
      margin-left: 52px;
      margin-right: 46px;
      margin-top: 0; } }
  .module-slider-r .slick-slider .slick-dots li button {
    width: 52px;
    height: 72px;
    background: #00FA9A;
    border-radius: inherit; }
  .module-slider-r .slick-slider .slick-dots {
    bottom: 0;
    right: -59%; }
  .module-slider-r .slick-active {
    background: #000;
    color: #fff; }
  .module-slider-r .module-slider__control {
    display: none;
    visibility: hidden; }
    @media (max-width: 576.98px) {
      .module-slider-r .module-slider__control {
        display: block;
        visibility: visible; } }

.module-slider__body-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item-slider-r {
  font-family: "Formular";
  font-weight: bold;
  font-size: 32px;
  line-height: 72px;
  width: 52px;
  height: 72px;
  background: #00FA9A;
  margin-right: 16px;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    .item-slider-r {
      font-size: 14px;
      line-height: 45px;
      width: 24px;
      height: 45px; } }

.section-08 {
  border-bottom: 3px solid #000000; }
  .section-08 .title {
    margin-bottom: 40px; }

.speaker-item {
  margin-bottom: 32px; }
  .speaker-item:last-child {
    margin-bottom: 0; }
  @media (min-width: 767.98px) {
    .speaker-item {
      width: 30%;
      margin-right: 254px;
      margin-bottom: 0; } }
  .speaker-item:last-child {
    margin-right: 0; }
  .speaker-item__img {
    margin-bottom: 32px;
    position: relative; }
    @media (max-width: 767.98px) {
      .speaker-item__img {
        width: 240px;
        height: 240px;
        margin-bottom: 16px; } }
    .speaker-item__img:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #00FA9A;
      top: -16px;
      right: -16px;
      z-index: -1; }
      @media (min-width: 767.98px) {
        .speaker-item__img:after {
          top: -30px;
          right: -35px; } }
  .speaker-item__name {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
    font-family: "Formular";
    font-weight: bold;
    line-height: 16px;
    background: #00FA9A; }
    @media (max-width: 767.98px) {
      .speaker-item__name {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .speaker-item__name {
        font-size: calc(14px + 18*(100vw / 1440)); } }
  .speaker-item__text {
    font-weight: normal;
    line-height: 16px; }
    @media (max-width: 767.98px) {
      .speaker-item__text {
        font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .speaker-item__text {
        font-size: calc(14px + 10*(100vw / 1440)); } }
    @media (min-width: 767.98px) {
      .speaker-item__text {
        line-height: 32px; } }

.section-09 {
  border-bottom: 3px solid #000000; }
  @media (min-width: 767.98px) {
    .section-09 .section__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
      flex: 0 1 45%;
      width: 45%;
      padding: 0;
      margin-right: 32px; } }
  .section-09 .section__item:nth-child(even) {
    margin-right: 0; }
  .section-09 .section__item:last-child {
    margin-bottom: 0; }
  .section-09 .section__item-title {
    font-family: "Formular";
    font-weight: bold;
    line-height: 40px; }
    @media (max-width: 767.98px) {
      .section-09 .section__item-title {
        font-size: calc(18px + 23.8*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .section-09 .section__item-title {
        font-size: calc(18px + 14*(100vw / 1440)); } }
  .section-09 .section__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 767.98px) {
      .section-09 .section__item-content {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .section-09 .section__item-content {
        font-size: calc(12px + 6*(100vw / 1440)); } }

.section-10 .section-body {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section-10 .section-body svg {
    max-width: 640px;
    max-height: 424px;
    width: 100%;
    height: 100%; }

.section-11 {
  background-image: url(../img/section-11/01-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00FA9A;
  padding: 16px 0px 0px 0px; }
  @media (min-width: 767.98px) {
    .section-11 {
      padding-top: 42px;
      padding-bottom: 42px; } }
  .section-11 .container {
    max-width: 770px;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 576.98px) {
      .section-11 .container {
        padding: 0; } }
  .section-11 .section__content {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    background-color: #fff;
    padding: 8px 5px; }
    @media (max-width: 767.98px) {
      .section-11 .section__content {
        font-size: calc(14px + 37.4*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .section-11 .section__content {
        font-size: calc(14px + 22*(100vw / 1440)); } }
    @media (max-width: 576.98px) {
      .section-11 .section__content {
        max-width: 290px;
        margin: 0 auto 24px auto; } }
    @media (min-width: 767.98px) {
      .section-11 .section__content {
        padding: 24px 16px; } }
    @media (min-width: 992.98px) {
      .section-11 .section__content {
        line-height: 48px; } }
  .section-11 .action-block {
    background-color: #000;
    max-width: 661px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 16px 12px; }

.section-12 {
  border-bottom: 3px solid #000000; }
  @media (min-width: 767.98px) {
    .section-12 .section__text {
      margin-top: 48px; } }

@media (max-width: 992.98px) {
  .section__column-content {
    margin-bottom: 30px; } }

.postitle {
  margin-left: 10px; }
  .postitle span {
    font-style: italic;
    font-weight: normal;
    line-height: 34px;
    display: inline;
    background-color: #00FA9A;
    -webkit-box-shadow: -10px 0 0 #00FA9A, 10px 0 0 #00FA9A;
    box-shadow: -10px 0 0 #00FA9A, 10px 0 0 #00FA9A;
    padding: 8px; }
    @media (max-width: 767.98px) {
      .postitle span {
        font-size: calc(14px + 37.4*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .postitle span {
        font-size: calc(14px + 22*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .postitle {
      line-height: 36px; } }

.spollers__item {
  background-color: #fff; }
  .spollers__item:last-child .spollers__title {
    border: 4px solid #000000; }

.spollers__title {
  font-family: "Formular";
  font-weight: bold;
  line-height: 24px;
  color: #262626;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 16px 56px 16px 16px;
  border: 4px solid #000000;
  border-bottom: none; }
  @media (max-width: 767.98px) {
    .spollers__title {
      font-size: calc(14px + 17*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .spollers__title {
      font-size: calc(14px + 10*(100vw / 1440)); } }
  .spollers__title.active {
    color: #00FA9A;
    background-color: #000; }
    .spollers__title.active:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  @media (min-width: 767.98px) {
    .spollers__title {
      text-transform: capitalize;
      padding-bottom: 24px;
      line-height: 32px; } }
  .spollers__title:before {
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 50%;
    right: 30px;
    margin-top: -14px;
    background: url(../img/section-13/01.svg) no-repeat, 0 0;
    background-size: contain;
    width: 31px;
    height: 28px; }
    @media (max-width: 767.98px) {
      .spollers__title:before {
        right: 10px;
        width: 21px;
        height: 24px; } }

.spollers__text {
  padding: 16px 8px 24px 8px;
  line-height: 16px;
  background-color: #fff;
  display: none; }
  @media (max-width: 767.98px) {
    .spollers__text {
      font-size: calc(12px + 10.2*((100vw - 320px) / 1440)); } }
  @media (min-width: 767.98px) {
    .spollers__text {
      font-size: calc(12px + 6*(100vw / 1440)); } }
  @media (min-width: 767.98px) {
    .spollers__text {
      padding: 28px 62px;
      line-height: 24px; } }
  @media (min-width: 1200px) {
    .spollers__text {
      padding: 48px 112px; } }

.spoller.active + .spollers__text {
  border: none; }

.footer {
  padding: 16px 0px 40px 0px;
  background-image: url(../img/sec-bot.svg);
  background-repeat: repeat;
  background-position: center;
  background-size: 12px; }
  @media (min-width: 992.98px) {
    .footer {
      padding-top: 48px; } }
  .footer .container {
    max-width: 770px;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 576.98px) {
      .footer .container {
        padding: 0; } }
  .footer__brand {
    margin-bottom: 24px; }
  .footer .section__content {
    background-color: #000;
    max-width: 100%;
    text-align: center;
    padding: 32px 0px 32px 0px; }
    @media (max-width: 767.98px) {
      .footer .section__content {
        margin: 0px 16px; } }
  .footer .action-block {
    margin-bottom: 0;
    text-align: center; }
    .footer .action-block p {
      background-color: #00FA9A;
      padding: 8px 16px; }
  .footer .footer__text {
    font-family: "Formular";
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    color: #00FA9A; }
    @media (max-width: 767.98px) {
      .footer .footer__text {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .footer__text {
        font-size: calc(14px + 18*(100vw / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .footer__text {
        line-height: 40px; } }
  .footer .nav {
    padding: 0; }
    @media (min-width: 767.98px) {
      .footer .nav {
        text-align: center; } }
    .footer .nav li {
      margin-bottom: 16px; }
      .footer .nav li:last-child {
        margin-bottom: 24px; }
  .footer .nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  @media (min-width: 767.98px) {
    .footer .nav__item {
      margin-right: 56px; } }
  @media (max-width: 576.98px) {
    .footer .nav__item {
      margin-bottom: 12px; } }
  .footer .nav__item:last-child {
    margin-right: 0; }
  .footer .nav__link {
    font-family: "Source Code Pro";
    font-weight: normal;
    color: #fff;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .footer .nav__link {
        font-size: calc(14px + 6.8*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .nav__link {
        font-size: calc(14px + 4*(100vw / 1440)); } }

.footer {
  padding: 16px 0px 40px 0px;
  background-image: url(../img/sec-bot.svg);
  background-repeat: repeat;
  background-position: center;
  background-size: 12px; }
  @media (min-width: 992.98px) {
    .footer {
      padding-top: 48px; } }
  .footer .container {
    max-width: 770px;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 576.98px) {
      .footer .container {
        padding: 0; } }
  .footer__brand {
    margin-bottom: 24px; }
  .footer .section__content {
    background-color: #000;
    max-width: 100%;
    text-align: center;
    padding: 32px 0px 32px 0px; }
    @media (max-width: 767.98px) {
      .footer .section__content {
        margin: 0px 16px; } }
  .footer .action-block {
    margin-bottom: 0;
    text-align: center; }
    .footer .action-block p {
      background-color: #00FA9A;
      padding: 8px 16px; }
  .footer .footer__text {
    font-family: "Formular";
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    color: #00FA9A; }
    @media (max-width: 767.98px) {
      .footer .footer__text {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .footer__text {
        font-size: calc(14px + 18*(100vw / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .footer__text {
        line-height: 40px; } }
  .footer .nav {
    padding: 0; }
    @media (min-width: 767.98px) {
      .footer .nav {
        text-align: center; } }
    .footer .nav li {
      margin-bottom: 16px; }
      .footer .nav li:last-child {
        margin-bottom: 24px; }
  .footer .nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  @media (min-width: 767.98px) {
    .footer .nav__item {
      margin-right: 56px; } }
  @media (max-width: 576.98px) {
    .footer .nav__item {
      margin-bottom: 12px; } }
  .footer .nav__item:last-child {
    margin-right: 0; }
  .footer .nav__link {
    font-family: "Source Code Pro";
    font-weight: normal;
    color: #fff;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .footer .nav__link {
        font-size: calc(14px + 6.8*((100vw - 320px) / 1440)); } }
    @media (min-width: 767.98px) {
      .footer .nav__link {
        font-size: calc(14px + 4*(100vw / 1440)); } }

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100; }
  .popup.active .popup-content {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .popup.show {
    display: block; }
    .popup.show .popup-content {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.popup-table {
  height: 100%;
  table-layout: fixed; }
  .popup-table > .cell {
    height: 100%;
    vertical-align: middle;
    padding: 30px 10px; }

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff; }

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat; }

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0; }

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none; }
  .popup-video__value iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
