@charset "UTF-8";
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Formular';
  src: url("../fonts/Formular-Bold.woff2") format("woff2"), url("../fonts/Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-It.woff2") format("woff2"), url("../fonts/SourceCodePro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Source Code Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Source Code Pro"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-style: normal; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 992.98px) {
    .container {
      padding-left: 64px;
      padding-right: 64px; } }

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  background-color: #fff; }
  @media (max-width: 767.98px) {
    .scroll {
      background: #000; } }

.form__btn {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.form__column {
  padding: 0px 15px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 8px 0px 8px;
  font-family: "Formular";
  font-style: normal;
  font-weight: bold;
  height: 56px;
  color: #000000;
  background: #00FA9A;
  margin-right: 16px; }
  @media (max-width: 767.98px) {
    .btn {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .btn {
      font-size: calc(14px + 10*(100vw / 1940)); } }
  .btn:last-child {
    margin-right: 0; }
  @media (max-width: 767.98px) {
    .btn {
      width: 130px; } }
  @media (min-width: 767.98px) {
    .btn {
      margin-right: 30px;
      padding: 0px 16px 0px 19px; } }
  .btn.fw {
    width: 100%; }
  .btn i {
    margin-right: 19px; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }
  .slick-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 23px; }
    .slick-slider .slick-dots li {
      margin-right: 10px; }
      .slick-slider .slick-dots li:last-child {
        margin-right: 0; }
      .slick-slider .slick-dots li button {
        width: 8px;
        height: 8px;
        background: #00FA9A;
        border-radius: 50%;
        font-size: 0; }
        @media (min-width: 767.98px) {
          .slick-slider .slick-dots li button {
            width: 16px;
            height: 16px; } }
      .slick-slider .slick-dots li.slick-active button {
        background: #000; }

.up {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 10px;
  width: 40px;
  height: 45px;
  background: #00FA9A;
  z-index: 11;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer; }

@media (min-width: 767.98px) {
  .up {
    right: 25px;
    width: 50px;
    height: 65px; } }

.up:after,
.up:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff; }

@media (min-width: 767.98px) {
  .up:after,
  .up:before {
    width: 26px; } }

.up:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 14px; }

@media (min-width: 767.98px) {
  .up:before {
    left: 15px; } }

.up:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  right: -4px; }

@media (min-width: 767.98px) {
  .up:after {
    right: -10px; } }

.header {
  border-bottom: 2px solid #000000; }
  .header.scroll .header-menu__icon span {
    background-color: #fff; }
  .header__body {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 992.98px) {
      .header__body {
        height: 96px; } }
  .header__brand a {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    color: #000; }
    @media (max-width: 767.98px) {
      .header__brand a {
        font-size: calc(24px + 0*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .header__brand a {
        font-size: calc(24px + 0*(100vw / 1940)); } }

@media (min-width: 767.98px) {
  .nav {
    margin-right: -13px; } }

@media (max-width: 767.98px) {
  .nav {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center; } }

@media (min-width: 767.98px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.nav__item {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid transparent; }
  .nav__item:hover {
    border-bottom: 2px solid #00FA9A; }
  @media (min-width: 767.98px) {
    .nav__item {
      margin-right: 50px; }
      .nav__item:last-child {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .nav__item {
      margin-right: 116px; } }

.nav__list {
  font-family: 'Formular';
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: #000000; }
  @media (max-width: 767.98px) {
    .nav__list {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .nav__list {
      font-size: calc(14px + 10*(100vw / 1940)); } }
  @media (max-width: 767.98px) {
    .nav__list {
      color: #fff; } }
  @media (max-width: 767.98px) and (max-width: 767.98px) {
    .nav__list {
      font-size: calc(18px + 44.2*((100vw - 320px) / 1940)); } }
  @media (max-width: 767.98px) and (min-width: 767.98px) {
    .nav__list {
      font-size: calc(18px + 26*(100vw / 1940)); } }

@media (max-width: 767.98px) {
  .header-menu {
    position: fixed;
    top: 0;
    right: -200%;
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header-menu.active {
      right: 0; } }
  @media (max-width: 767.98px) and (max-width: 767.98px) {
    .header-menu__item {
      margin-bottom: 30px;
      border-bottom: 2px solid #00FA9A;
      padding: 10px 0;
      width: 50%;
      margin: 0 auto; } }

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 100; }
    .header-menu__icon span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000; }
      .header-menu__icon span:first-child {
        top: 0px; }
      .header-menu__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header-menu__icon.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      background-color: #fff; }
      .header-menu__icon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header-menu__icon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/
@media (min-width: 992.98px) {
  .intro__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.intro__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.intro__column-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url(../img/intro-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 16px;
  position: relative; }
  @media (max-width: 767.98px) {
    .intro__column-l {
      height: 192px; } }
  @media (min-width: 767.98px) and (max-width: 992.98px) {
    .intro__column-l {
      height: 320px; } }
  @media (min-width: 767.98px) {
    .intro__column-l {
      padding-left: 64px; } }

.intro__column-r {
  padding: 16px 16px 32px 16px; }
  @media (min-width: 767.98px) {
    .intro__column-r {
      padding: 40px 10px 56px 40px; } }

.intro__column-icon {
  margin-bottom: 16px;
  width: 68px;
  height: 67px; }
  @media (min-width: 767.98px) and (max-width: 992.98px) {
    .intro__column-icon {
      margin-bottom: 23px; } }
  @media (min-width: 767.98px) {
    .intro__column-icon {
      width: 168px;
      height: 167px; } }
  @media (min-width: 992.98px) {
    .intro__column-icon {
      margin-bottom: 73px; } }

.intro__leble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: "Formular";
  font-weight: bold;
  color: #00FA9A;
  background: #000000;
  position: absolute;
  width: 130px;
  height: 40px;
  top: 0;
  left: 0; }
  @media (max-width: 767.98px) {
    .intro__leble {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .intro__leble {
      font-size: calc(14px + 10*(100vw / 1940)); } }
  @media (min-width: 767.98px) {
    .intro__leble {
      top: 24px;
      height: 80px;
      width: 242px; } }

.intro__column-r {
  font-family: "Source Code Pro";
  font-weight: normal; }
  .intro__column-r p {
    line-height: 24px;
    margin-bottom: 8px; }
    @media (max-width: 767.98px) {
      .intro__column-r p {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .intro__column-r p {
        font-size: calc(12px + 6*(100vw / 1940)); } }
    @media (min-width: 767.98px) {
      .intro__column-r p {
        margin-bottom: 40px; } }

.intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  @media (max-width: 767.98px) {
    .intro__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .intro__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767.98px) {
      .intro__list li {
        margin-bottom: 8px; }
        .intro__list li:last-child {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          width: 100%; } }
    .intro__list li:after {
      content: '/';
      margin: 0px 5px 0px 5px; }
      @media (min-width: 992.98px) {
        .intro__list li:after {
          margin: 0px 15px 0px 15px; } }
    .intro__list li:last-child {
      margin-right: 0; }
      .intro__list li:last-child:after {
        content: '';
        display: none; }
  .intro__list a {
    font-family: "Source Code Pro";
    font-weight: normal;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .intro__list a {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .intro__list a {
        font-size: calc(12px + 6*(100vw / 1940)); } }

.intro__action p {
  font-family: "Formular";
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 10px;
  text-transform: capitalize !important; }
  @media (max-width: 767.98px) {
    .intro__action p {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .intro__action p {
      font-size: calc(14px + 10*(100vw / 1940)); } }

.title {
  font-family: "Formular";
  font-weight: bold;
  line-height: 32px; }
  @media (max-width: 767.98px) {
    .title {
      font-size: calc(24px + 37.4*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .title {
      font-size: calc(24px + 22*(100vw / 1940)); } }
  @media (min-width: 992.98px) {
    .title {
      line-height: 56px; } }

.section-intro .title span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media (max-width: 767.98px) {
    .section-intro .title span {
      font-size: calc(16px + 27.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section-intro .title span {
      font-size: calc(16px + 16*(100vw / 1940)); } }
  .section-intro .title span:after {
    content: 'і';
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 2px;
    right: -22px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00FA9A; }
    @media (min-width: 767.98px) {
      .section-intro .title span:after {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 15px;
        top: 10px;
        right: -32px; } }

.section__bottom {
  height: 64px;
  background-image: url(../img/Fylh.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 767.98px) {
    .section__bottom {
      padding-top: 16px; } }

.section__bottom-text {
  font-family: "Formular";
  font-weight: bold;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize; }
  @media (max-width: 767.98px) {
    .section__bottom-text {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__bottom-text {
      font-size: calc(14px + 10*(100vw / 1940)); } }
  @media (max-width: 767.98px) {
    .section__bottom-text {
      line-height: 32px; } }
  @media (max-width: 576.98px) {
    .section__bottom-text {
      line-height: 16px; } }
  @media (max-width: 767.98px) {
    .section__bottom-text span {
      display: block; } }

.section {
  padding: 37px 0px 37px 0px; }
  @media (min-width: 767.98px) {
    .section {
      padding: 87px 0px 80px 0px; } }
  .section .title {
    margin-bottom: 24px; }
    @media (min-width: 767.98px) {
      .section .title {
        margin-bottom: 48px; } }
    .section .title > span {
      background-color: #00FA9A; }
  @media (min-width: 767.98px) {
    .section-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .section__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px; }
    @media (min-width: 767.98px) {
      .section__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
        flex: 0 1 47%;
        width: 47%; } }
    @media (mminax-width: 992.98px) {
      .section__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 27%;
        flex: 0 1 27%;
        width: 27%; } }
    .section__item:nth-child(2n+3) {
      margin-right: 0; }
  .section__item-icon {
    margin-right: 36px; }
  .section__item-text {
    padding-top: 5px;
    font-family: Source Code Pro;
    font-weight: normal;
    line-height: 16px; }
    @media (max-width: 767.98px) {
      .section__item-text {
        font-size: calc(14px + 6.8*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .section__item-text {
        font-size: calc(14px + 4*(100vw / 1940)); } }
    @media (min-width: 767.98px) {
      .section__item-text {
        line-height: 24px; } }

.section-01 {
  border-bottom: 3px solid #000000;
  padding-bottom: 17px; }
  @media (min-width: 767.98px) {
    .section-01 {
      padding-bottom: 37px; } }

.section-02 {
  border-bottom: 3px solid #000000; }

@media (min-width: 767.98px) {
  .section__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%; }
  .section__column-content {
    padding-right: 114px; } }

.section__text {
  font-weight: normal;
  line-height: 24px; }
  @media (max-width: 767.98px) {
    .section__text {
      font-size: calc(14px + 6.8*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__text {
      font-size: calc(14px + 4*(100vw / 1940)); } }
  .section__text span {
    background-color: #00FA9A; }

.section-03 .section-body {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.body-item {
  text-align: center; }
  @media (min-width: 767.98px) {
    .body-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 21%;
      flex: 0 1 21%;
      width: 21%; } }
  .body-item:first-child .body-item__step {
    background: #000;
    color: #fff; }
  @media (max-width: 767.98px) {
    .body-item:first-child .body-item__text {
      font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .body-item:first-child .body-item__text {
      font-size: calc(12px + 6*(100vw / 1940)); } }
  .body-item__img {
    margin-bottom: 48px;
    padding: 0px 40px 0px 40px; }
    .body-item__img img {
      max-width: 100%; }
  .body-item__title {
    font-family: "Formular";
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 16px; }
    @media (max-width: 767.98px) {
      .body-item__title {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .body-item__title {
        font-size: calc(14px + 18*(100vw / 1940)); } }
  .body-item__step {
    padding: 8px 0px 8px 0px;
    background: #00FA9A;
    font-family: "Source Code Pro";
    font-weight: normal;
    margin-bottom: 18px; }
    @media (max-width: 767.98px) {
      .body-item__step {
        font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .body-item__step {
        font-size: calc(14px + 10*(100vw / 1940)); } }
  .body-item__text {
    font-family: "Source Code Pro";
    font-weight: normal;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .body-item__text {
        font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .body-item__text {
        font-size: calc(14px + 10*(100vw / 1940)); } }

.body-slider {
  padding-bottom: 30px; }
  .body-slider .slick-dots {
    bottom: 0;
    right: 50%;
    margin-right: -25px; }
  .body-slider .slick-dots li button {
    width: 8px;
    height: 8px; }

.section-04 {
  border-bottom: none;
  background: url(../img/section-04/04-bg.png) no-repeat 0 0;
  padding-bottom: 56px;
  background-size: cover; }
  @media (min-width: 767.98px) {
    .section-04 {
      padding-bottom: 90px; } }
  @media (min-width: 992.98px) {
    .section-04 {
      padding-bottom: 144px; } }
  .section-04 .title {
    max-width: 534px;
    line-height: 29px;
    margin-bottom: 48px; }
    @media (min-width: 767.98px) {
      .section-04 .title {
        line-height: 49px; } }
    .section-04 .title span {
      padding: 0px 5px 0px 5px; }

.section-slider {
  width: 288px;
  height: 168px;
  border: 3px solid #000;
  background: #FFFFFF; }
  @media (min-width: 767.98px) {
    .section-slider {
      width: 558px;
      height: 312px;
      border: 6px solid #000; } }

.title__wr {
  padding: 5px; }

.slider__text {
  padding: 16px;
  font-family: "Source Code Pro";
  font-weight: normal;
  line-height: 16px; }
  @media (max-width: 767.98px) {
    .slider__text {
      font-size: calc(12px + 20.4*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .slider__text {
      font-size: calc(12px + 12*(100vw / 1940)); } }
  @media (min-width: 767.98px) {
    .slider__text {
      line-height: 32px;
      padding: 23px; } }

@media (max-width: 767.98px) {
  .section-05 .action-block {
    margin-bottom: 35px; } }

.section__package {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  line-height: 44px;
  padding-left: 28px; }
  @media (max-width: 767.98px) {
    .section__package {
      font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__package {
      font-size: calc(12px + 6*(100vw / 1940)); } }
  @media (min-width: 576.98px) and (max-width: 992.98px) {
    .section__package {
      padding-left: 30px;
      height: 88px; } }
  @media (min-width: 992.98px) {
    .section__package {
      width: 100%;
      height: 132px;
      line-height: 75px;
      padding-left: 70px; } }
  .section__package span {
    font-family: "Formular";
    font-weight: bold; }
    @media (max-width: 767.98px) {
      .section__package span {
        font-size: calc(11px + 35.7*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .section__package span {
        font-size: calc(11px + 21*(100vw / 1940)); } }

.section__list {
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 25px;
  padding-left: 22px; }
  @media (max-width: 767.98px) {
    .section__list {
      font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__list {
      font-size: calc(14px + 10*(100vw / 1940)); } }
  @media (min-width: 767.98px) {
    .section__list {
      margin-bottom: 90px; } }
  @media (min-width: 767.98px) {
    .section__list {
      line-height: 32px; } }
  .section__list li {
    list-style: disc;
    margin-bottom: 16px; }

.section__package-tp {
  background-image: url(../img/section-05/02.png); }

.section__package-bt {
  background-image: url(../img/section-05/01.png);
  margin-bottom: 32px; }
  @media (min-width: 767.98px) {
    .section__package-bt {
      margin-bottom: 106px; } }

.action-block p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
  max-width: 416px; }

.section-06 {
  border-bottom: 3px solid #000000; }
  .section-06 .section__column-content {
    padding: 0; }
  .section-06 .section__text {
    font-style: italic;
    font-weight: normal;
    line-height: 24px;
    padding: 0px; }
    @media (max-width: 767.98px) {
      .section-06 .section__text {
        font-size: calc(22px + 23.8*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .section-06 .section__text {
        font-size: calc(22px + 14*(100vw / 1940)); } }
    @media (min-width: 576.98px) {
      .section-06 .section__text {
        padding: 0px 0px 0px 25px;
        line-height: 48px; } }

.section-07 {
  padding-bottom: 0; }
  @media (max-width: 767.98px) {
    .section-07 {
      margin-bottom: 40px; } }
  .section-07 .section__list {
    line-height: 22px; }
    @media (min-width: 992.98px) {
      .section-07 .section__list {
        line-height: 40px; } }
  .section-07 .section__list li {
    margin-bottom: 5px; }
    @media (min-width: 992.98px) {
      .section-07 .section__list li {
        margin-bottom: 15px; } }

.item-slider__head {
  font-family: "Formular";
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 40px; }
  @media (max-width: 767.98px) {
    .item-slider__head {
      font-size: calc(16px + 27.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .item-slider__head {
      font-size: calc(16px + 16*(100vw / 1940)); } }
  @media (min-width: 992.98px) {
    .item-slider__head {
      line-height: 40px; } }

.module-slider__item li ul {
  margin-left: 40px; }
  .module-slider__item li ul li {
    list-style: circle; }

.section__column {
  position: relative; }

.module-slider__body {
  min-width: 0; }

.control-module-slider__arrow {
  position: absolute;
  top: 5px;
  cursor: pointer; }
  .control-module-slider__arrow-prev {
    left: 0; }
  .control-module-slider__arrow-next {
    right: 0; }

.module-slider-r {
  margin-left: 40px; }
  .module-slider-r .slick-slider .slick-dots li button {
    width: 52px;
    height: 72px;
    background: #00FA9A;
    border-radius: inherit; }
  .module-slider-r .slick-slider .slick-dots {
    bottom: 0;
    right: -59%; }
  .module-slider-r .slick-active {
    background: #000;
    color: #fff; }

.module-slider__body-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item-slider-r {
  font-family: "Formular";
  font-weight: bold;
  font-size: 32px;
  line-height: 72px;
  width: 52px;
  height: 72px;
  background: #00FA9A;
  margin-right: 16px;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    .item-slider-r {
      font-size: 14px;
      line-height: 45px;
      width: 24px;
      height: 45px; } }

.section-08 {
  border-bottom: 3px solid #000000;
  padding-top: 0; }
  .section-08 .title {
    margin-bottom: 40px; }

.speaker-item {
  margin-bottom: 32px; }
  .speaker-item:last-child {
    margin-bottom: 0; }
  @media (min-width: 767.98px) {
    .speaker-item {
      width: 30%;
      margin-right: 254px;
      margin-bottom: 0; } }
  .speaker-item:last-child {
    margin-right: 0; }
  .speaker-item__img {
    margin-bottom: 32px;
    position: relative; }
    @media (max-width: 767.98px) {
      .speaker-item__img {
        width: 240px;
        height: 240px;
        margin-bottom: 16px; } }
    .speaker-item__img:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #00FA9A;
      top: -16px;
      right: -16px;
      z-index: -1; }
      @media (min-width: 767.98px) {
        .speaker-item__img:after {
          top: -30px;
          right: -35px; } }
  .speaker-item__name {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
    font-family: "Formular";
    font-weight: bold;
    line-height: 16px;
    background: #00FA9A; }
    @media (max-width: 767.98px) {
      .speaker-item__name {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .speaker-item__name {
        font-size: calc(14px + 18*(100vw / 1940)); } }
  .speaker-item__text {
    font-weight: normal;
    line-height: 16px; }
    @media (max-width: 767.98px) {
      .speaker-item__text {
        font-size: calc(14px + 17*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .speaker-item__text {
        font-size: calc(14px + 10*(100vw / 1940)); } }
    @media (min-width: 767.98px) {
      .speaker-item__text {
        line-height: 32px; } }

.section-09 {
  border-bottom: 3px solid #000000; }
  @media (min-width: 767.98px) {
    .section-09 .section__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
      flex: 0 1 45%;
      width: 45%; } }
  @media (min-width: 992.98px) {
    .section-09 .section__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 37%;
      flex: 0 1 37%;
      width: 37%; } }
  .section-09 .section__item:nth-child(n+2) {
    margin-right: 0; }
  .section-09 .section__item:nth-child(2n+3) {
    margin-right: 66px; }

.section__item-icon {
  width: 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px; }

.section__item-title {
  font-family: "Formular";
  font-weight: bold;
  line-height: 40px; }
  @media (max-width: 767.98px) {
    .section__item-title {
      font-size: calc(18px + 23.8*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__item-title {
      font-size: calc(18px + 14*(100vw / 1940)); } }

.section__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section-10 .section-body {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section-10 .section-body svg {
    max-width: 640px;
    max-height: 424px;
    width: 100%;
    height: 100%; }

.section-11 {
  padding: 40px 0px 56px 0px;
  background-image: url(../img/section-11/01-bg.png);
  background-repeat: repeat;
  background-position: center; }
  .section-11 .container {
    max-width: 770px;
    padding-left: 10px;
    padding-right: 10px; }
  .section-11 .action-block {
    background-color: #000;
    max-width: 661px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 16px 12px;
    letter-spacing: 1.2; }
    .section-11 .action-block p {
      font-size: 12px;
      max-width: 100%; }
      @media (min-width: 767.98px) {
        .section-11 .action-block p {
          font-size: 14px;
          color: #00FA9A;
          padding: 16px 32px; } }
  .section-11 .btn {
    margin-right: 0; }

.section__content {
  padding: 24px 16px;
  background-color: #fff;
  font-style: italic;
  line-height: 24px;
  text-align: center; }
  @media (max-width: 767.98px) {
    .section__content {
      font-size: calc(20px + 27.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .section__content {
      font-size: calc(20px + 16*(100vw / 1940)); } }
  @media (max-width: 767.98px) {
    .section__content {
      margin-bottom: 30px; } }
  @media (min-width: 767.98px) {
    .section__content {
      line-height: 40px; } }

.section-12 {
  border-bottom: 3px solid #000000; }
  .section-12 .section__text {
    margin-top: 28px; }
    @media (min-width: 767.98px) {
      .section-12 .section__text {
        margin-top: 48px; } }

@media (max-width: 767.98px) {
  .section__column-content {
    margin-bottom: 30px; } }

.postitle {
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  background-color: #00FA9A; }
  @media (max-width: 767.98px) {
    .postitle {
      font-size: calc(20px + 27.2*((100vw - 320px) / 1940)); } }
  @media (min-width: 767.98px) {
    .postitle {
      font-size: calc(20px + 16*(100vw / 1940)); } }
  @media (min-width: 767.98px) {
    .postitle {
      line-height: 36px; } }

.spollers {
  text-align: justify; }
  @media (max-width: 767.98px) {
    .spollers {
      margin-bottom: 60px; } }
  .spollers__item {
    border: 4px solid #000000;
    background-color: #fff;
    border-bottom: none; }
    .spollers__item:last-child {
      border: 4px solid #000000; }
  .spollers__title {
    color: #262626;
    font-family: Raleway;
    cursor: pointer;
    font-weight: 500;
    padding: 16px 0px 24px 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative; }
    @media (max-width: 767.98px) {
      .spollers__title {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .spollers__title {
        font-size: calc(12px + 6*(100vw / 1940)); } }
    .spollers__title.active {
      color: #00FA9A;
      background-color: #000; }
      .spollers__title.active:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .spollers__title:before {
      content: "";
      position: absolute;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 15px;
      right: 30px;
      background-image: url(../img/section-13/01.svg);
      width: 31px;
      height: 28px; }
      @media (max-width: 767.98px) {
        .spollers__title:before {
          right: 10px; } }
    @media (max-width: 767.98px) {
      .spollers__title {
        padding-right: 60px; } }
  .spollers__text {
    padding: 16px 16px 16px 50px;
    background-color: #fff;
    display: none; }
    @media (max-width: 767.98px) {
      .spollers__text {
        padding-left: 16px; } }

.footer {
  padding: 40px 0px 56px 0px;
  background-image: url(../img/footer/01-bg.png);
  background-repeat: repeat;
  background-position: center; }
  .footer .container {
    max-width: 770px;
    padding-left: 10px;
    padding-right: 10px; }
  .footer__brand {
    margin-bottom: 24px; }
    .footer__brand a {
      color: #fff;
      text-transform: uppercase;
      font-style: normal; }
      @media (max-width: 767.98px) {
        .footer__brand a {
          font-size: calc(24px + 40.8*((100vw - 320px) / 1940)); } }
      @media (min-width: 767.98px) {
        .footer__brand a {
          font-size: calc(24px + 24*(100vw / 1940)); } }
  .footer__title {
    font-family: "Formular";
    font-weight: bold;
    font-style: normal;
    line-height: 24px;
    color: #00FA9A; }
    @media (max-width: 767.98px) {
      .footer__title {
        font-size: calc(14px + 30.6*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .footer__title {
        font-size: calc(14px + 18*(100vw / 1940)); } }
    @media (min-width: 767.98px) {
      .footer__title {
        line-height: 40px; } }
  .footer .action-block {
    background-color: transparent;
    max-width: 661px;
    margin: 0 auto;
    text-align: center;
    padding: 0; }
    .footer .action-block p {
      max-width: 100%;
      padding: 16px;
      font-weight: bold;
      background-color: #00FA9A; }
      @media (max-width: 767.98px) {
        .footer .action-block p {
          font-size: calc(12px + 3.4*((100vw - 320px) / 1940)); } }
      @media (min-width: 767.98px) {
        .footer .action-block p {
          font-size: calc(12px + 2*(100vw / 1940)); } }
      @media (max-width: 767.98px) {
        .footer .action-block p {
          padding-left: 0;
          padding-right: 0; } }
  .footer .section__content {
    background-color: #000; }
    @media (max-width: 767.98px) {
      .footer .section__content {
        margin-bottom: 0; } }
  .footer .nav {
    margin-right: 0;
    margin-bottom: 24px;
    padding: 0; }
  .footer .nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  @media (min-width: 767.98px) {
    .footer .nav__item {
      margin-right: 56px; } }
  .footer .nav__item:last-child {
    margin-right: 0; }
  .footer .nav__list {
    font-family: "Source Code Pro";
    font-weight: normal;
    color: #fff;
    line-height: 24px; }
    @media (max-width: 767.98px) {
      .footer .nav__list {
        font-size: calc(12px + 10.2*((100vw - 320px) / 1940)); } }
    @media (min-width: 767.98px) {
      .footer .nav__list {
        font-size: calc(12px + 6*(100vw / 1940)); } }

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100; }
  .popup.active .popup-content {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .popup.show {
    display: block; }
    .popup.show .popup-content {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.popup-table {
  height: 100%;
  table-layout: fixed; }
  .popup-table > .cell {
    height: 100%;
    vertical-align: middle;
    padding: 30px 10px; }

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff; }

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat; }

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0; }

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none; }
  .popup-video__value iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
