//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Source Code Pro";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "ui/_null";

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  &.lock {
    overflow: hidden;
  }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width:$md2+px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================



//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "_vars";
@import "ui/_ui";
@import "ui/_forms";
@import "ui/_btn";
@import "ui/_slick";
@import "ui/_up";


@import "blocks/_header";
@import "blocks/_intro";
@import "blocks/_section-01";
@import "blocks/_section-02";
@import "blocks/_section-03";
@import "blocks/_section-04";
@import "blocks/_section-05";
@import "blocks/_section-06";
@import "blocks/_section-07";
@import "blocks/_section-08";
@import "blocks/_section-09";
@import "blocks/_section-10";
@import "blocks/_section-11";
@import "blocks/_section-12";
@import "blocks/_section-13";

@import "blocks/_footer";
@import "blocks/_popup";