.title {
   font-family: "Formular";
   font-weight: bold;
   font-size: 24px;
   line-height: 32px;


   @media (min-width:$md3+px) {
      line-height: 48px;
      font-size: 32px;
   }

   @media (min-width:$md2+px) {
      line-height: 56px;
      font-size: 48px;
   }
}

.section-intro {
   .title {
      margin-bottom: 39px;

      @media (max-width:$md3+px) {
         margin-bottom: 24px;
      }

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         font-size: 14px;
         line-height: 24px;
      }

   }

}

.action-block {
   max-width: 661px;
   margin: 0 auto;

   p {
      font-family: "Formular";
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize !important;
      margin-bottom: 8px;

      @media (min-width:$md3+px) {
         margin-bottom: 16px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 32px;
         @include adaptiv-font(32, 18);
      }
   }
}