.title {
   font-family: "Formular";
   font-weight: bold;
   @include adaptiv-font(46, 24);
   line-height: 32px;


   @media (min-width:$md3+px) {
      line-height: 48px;
   }

   @media (min-width:$md2+px) {
      line-height: 56px;
   }

   @media (min-width:1500px) {
      line-height: 90px;
   }
}

.section-intro {
   .title {
      @media (max-width:$md3+px) {
         margin-bottom: 8px;
      }

      span {
         @include adaptiv-font(32, 16);
         position: relative;
         display: inline-flex;
         cursor: pointer;

         &:after {
            content: 'і';
            font-size: 12px;
            line-height: 16px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            right: -22px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #00FA9A;

            @media (min-width:$md3+px) {
               width: 24px;
               height: 24px;
               line-height: 24px;
               font-size: 15px;
               right: -32px;
            }
         }
      }
   }

}

.action-block {
   max-width: 661px;
   margin: 0 auto;

   @media (max-width:$md2+px) {
      margin-bottom: 48px;
   }

   p {
      font-weight: bold;
      @include adaptiv-font(14, 12);
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 16px;
   }
}