.footer {
   padding: 16px 0px 40px 0px;
   background-image: url(../img/footer/01-bg.jpg);
   background-repeat: repeat;
   background-position: center;
   background-size: 12px;


   @media (min-width:$md2+px) {
      padding-top: 48px;
   }

   .container {
      max-width: 770px;
      padding-left: 10px;
      padding-right: 10px;

      @media (max-width:$md4+px) {
         padding: 0;
      }
   }

   &__brand {
      margin-bottom: 24px;
   }

   .section__content {
      background-color: #000;
      max-width: 100%;
      text-align: center;
      padding: 32px 0px 24px 0px;

      @media (max-width:$md3+px) {
         margin: 0px 16px;
      }
   }

   .action-block {
      margin-bottom: 0;
      text-align: center;

      p {
         background-color: #00FA9A;
         padding: 8px 16px;
      }
   }

   .footer__text {
      font-family: "Formular";
      font-weight: bold;
      font-style: normal;
      @include adaptiv-font(32, 14);
      line-height: 24px;
      color: #fff;

      @media (min-width:$md3+px) {
         line-height: 40px;
      }
   }

   .nav {
      padding: 0;

      @media (min-width:$md3+px) {
         text-align: center;
      }

      li {
         margin-bottom: 16px;

         &:last-child {
            margin-bottom: 24px;
         }
      }
   }

   .nav__list {
      justify-content: center;
   }

   .nav__item {


      @media (min-width:$md3+px) {
         margin-right: 56px;
      }

      @media (max-width:$md4+px) {
         margin-bottom: 12px;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   .nav__link {
      font-family: "Source Code Pro";
      font-weight: normal;
      @include adaptiv-font(18, 14);
      color: #fff;
      line-height: 24px;
   }

   &__social {
      margin-bottom: 18px;

      li {
         margin-bottom: 10px;
      }

      a {
         font-family: "Source Code Pro";
         font-weight: normal;
         @include adaptiv-font(18, 14);
         color: #fff;
         line-height: 24px;
      }
   }
}