//====================================================================================================

.header {

   border-bottom: 2px solid #000000;

   &__body {
      height: 96px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__brand {
      a {
         font-family: 'Formular';
         font-style: normal;
         font-weight: 900;
         @include adaptiv-font(24, 14);
         line-height: 40px;
         text-transform: uppercase;
         color: #000;
      }
   }
}

.nav {
   margin-right: -13px;

   &__list {
      display: flex;
   }

   &__item {
      margin-right: 116px;
      @include anim(0.3s, 0s);
      border-bottom: 2px solid transparent;

      &:last-child {
         margin-right: 0;
      }

      &:hover {
         border-bottom: 2px solid #00FA9A;
      }
   }

   &__list {
      font-family: 'Formular';
      font-style: normal;
      font-weight: bold;
      @include adaptiv-font(24, 14);
      line-height: 32px;
      color: #000000;
   }
}

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/