.section {}

.intro {

   &__body {
      @media (min-width:$md2+px) {
         display: flex;
         justify-content: space-between;
      }
   }

   &__column {
      flex: 1 1 50%;
   }

   &__column-l {
      display: flex;
      align-items: flex-end;
      background-image: url(../img/intro-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 16px;
      position: relative;

      @media (max-width:$md3+px) {
         height: 192px;

      }

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         height: 320px;
      }

      @media (min-width:$md3+px) {
         padding-left: 64px;
      }
   }

   &__column-r {

      padding: 16px 16px 32px 16px;

      @media (min-width:$md3+px) {
         padding: 40px 10px 56px 40px;
      }
   }

   &__column-icon {
      margin-bottom: 16px;
      width: 68px;
      height: 67px;

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         margin-bottom: 23px;

      }

      @media (min-width:$md3+px) {

         width: 168px;
         height: 167px;
      }

      @media (min-width:$md2+px) {

         margin-bottom: 73px;
      }
   }

   &__leble {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: "Formular";
      font-weight: bold;
      @include adaptiv-font(24, 14);

      color: #00FA9A;
      background: #000000;
      position: absolute;
      width: 130px;
      height: 40px;
      top: 0;
      left: 0;

      @media (min-width:$md3+px) {
         top: 24px;
         height: 80px;
         width: 242px;
      }
   }

   &__column-r {
      font-family: "Source Code Pro";
      font-weight: normal;

      p {
         @include adaptiv-font(18, 12);
         line-height: 24px;
         margin-bottom: 8px;

         @media (min-width:$md3+px) {
            margin-bottom: 40px;
         }
      }
   }

   &__list {
      display: flex;
      margin-bottom: 8px;

      @media (max-width:$md3+px) {
         flex-wrap: wrap;
      }

      li {
         display: flex;

         @media (max-width:$md3+px) {
            margin-bottom: 8px;

            &:last-child {
               flex: 1 1 100%;
               width: 100%;

            }
         }

         &:after {
            content: '/';
            margin: 0px 5px 0px 5px;

            @media (min-width:$md2+px) {
               margin: 0px 15px 0px 15px;

            }
         }

         &:last-child {
            margin-right: 0;

            &:after {
               content: '';
               display: none;
            }
         }
      }

      a {
         font-family: "Source Code Pro";
         font-weight: normal;
         @include adaptiv-font(18, 12);
         line-height: 24px;
      }
   }

   &__action {
      p {
         font-family: "Formular";
         font-weight: bold;
         @include adaptiv-font(24, 14);
         line-height: 32px;
         margin-bottom: 10px;
         text-transform: capitalize !important;
      }
   }
}



.title {
   font-family: "Formular";
   font-weight: bold;
   @include adaptiv-font(46, 24);
   line-height: 32px;

   @media (min-width:$md2+px) {
      line-height: 56px;

   }
}

.section-intro {

   .title {
      span {
         @include adaptiv-font(32, 16);
         position: relative;
         display: inline-flex;
         cursor: pointer;

         &:after {
            content: 'і';
            font-size: 12px;
            line-height: 16px;
            position: absolute;
            text-align: center;
            top: 2px;
            right: -22px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #00FA9A;

            @media (min-width:$md3+px) {
               width: 24px;
               height: 24px;
               line-height: 24px;
               font-size: 15px;
               top: 10px;
               right: -32px;
            }
         }
      }
   }

}

.section {

   &__bottom {
      height: 64px;
      background-image: url(../img/Fylh.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (max-width:$md3+px) {
         padding-top: 16px;
      }
   }

   &__bottom-text {
      font-family: "Formular";
      font-weight: bold;
      @include adaptiv-font(24, 14);
      line-height: 64px;
      text-align: center;
      text-transform: capitalize;

      @media (max-width:$md3+px) {
         line-height: 32px;
      }

      @media (max-width:$md4+px) {
         line-height: 16px;
      }


      span {
         @media (max-width:$md3+px) {
            display: block;

         }
      }
   }
}

[data-tooltip] {
   position: relative;
}

[data-tooltip]::before {
   content: attr(data-tooltip);
   position: absolute;
   left: 0;
   top: 0;
   background: rgb(207, 205, 205);
   color: #000;
   padding: 10px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   pointer-events: none;
   opacity: 0;
   transition: 1s;
   font-size: 12px;
   line-height: 1.5;
}

[data-tooltip]:hover::before {
   opacity: 1;
   top: -1em;
}