.section-intro {
   border-bottom: 3px solid #000000;
}

.intro {
   display: flex;

   @media (max-width:$md3+px) {
      flex-direction: column-reverse;
   }

   &__content {
      @media (min-width:$md3+px) {
         flex: 0 0 100%;
      }
   }

   &__body {
      padding: 24px 0px 64px 0px;

      @media (min-width:$md3+px) {
         width: 51%;
      }

      @media (min-width:$md2+px) {
         padding: 65px 0px 64px 0px;

      }
   }

   &__img {
      @media (min-width:$md3+px) {
         flex: 0 0 45%;
         transform: translateX(-100%);
      }

      display: flex;
      align-items: flex-end;
      background-image: url(../img/intro-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 16px;
      position: relative;

      @media (max-width:$md4+px) {
         height: 216px;
      }

      @media (min-width:$md4+px) and (max-width:$md3+px) {
         height: 380px;
      }

      @media (min-width:$md3+px) {
         padding-left: 64px;
      }
   }

   &__leble {
      font-family: "Formular";
      font-weight: bold;
      @include adaptiv-font(24, 14);
      color: #00FA9A;
      background: #000000;
      position: absolute;
      width: 130px;
      height: 40px;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 40px;

      @media (min-width:$md4+px) {
         width: 160px;
      }

      @media (min-width:$md2+px) {
         height: 80px;
         width: 254px;
         line-height: 80px;
      }
   }

   &__column-icon {
      margin-bottom: 16px;
      width: 68px;
      height: 67px;

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         margin-bottom: 23px;
      }

      @media (min-width:$md2+px) {
         width: 168px;
         height: 167px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 73px;
      }
   }

   .target {
      font-family: "Formular";
      font-style: normal;
      font-weight: bold;
      line-height: 50px;
      margin-bottom: 24px;
      color: #00FA9A;
      @include adaptiv-font(54, 28);
      text-align: center;
      background-color: #000;

      @media (min-width:$md3+px) and (max-width:$md2+px) {
         font-size: 32px;
         line-height: 32px;
         padding: 16px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 99px;
         line-height: 90px;
      }
   }
}

.webp .intro__column-r {
   background-image: url(../img/intro-bg.webp);
}