.section {
   &__list {
      font-weight: normal;
      @include adaptiv-font(24, 14);
      line-height: 16px;
      margin-bottom: 25px;
      padding-left: 22px;

      @media (min-width:$md3+px) {
         padding-right: 22px;
         margin-bottom: 50px;
         line-height: 32px;

         @media (max-width:1200px) {
            margin-bottom: 90px;
         }
      }

      li {
         list-style: disc;
         margin-bottom: 16px;
      }
   }

   &__package {
      margin-bottom: 32px;

      @media (min-width:$md3+px) {
         margin-bottom: 46px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 102px;
      }
   }
}
