.section {
   &__column {
      flex: 0 1 50%;
      width: 50%;
   }

   &__column-content {
      padding-right: 114px;
   }

   &__column-img {}

   &__text {
      font-weight: normal;
      @include adaptiv-font(18, 14);
      line-height: 24px;

      span {
         background-color: #00FA9A;
      }
   }
}