.section {
   position: relative;
   padding: 64px 0px 64px 0px;
   border-bottom: 3px solid #000000;

   @media (min-width:$md3+px) {
      padding: 80px 0px 80px 0px;
   }

   @media (min-width:1300px) {
      padding: 120px 0px 120px 0px;
   }
}

.section-body {

   @media (min-width:$md3+px) {
      display: flex;
      flex-wrap: wrap;
   }


   &__column {
      width: 100%;
      display: flex;

      @media (max-width:$md2+px) {
         flex-wrap: wrap;
      }
   }
}

.section {
   .title {
      margin-bottom: 32px;
      max-width: 90%;

      @media (min-width:$md3+px) {
         margin-bottom: 48px;

      }

      @media (min-width:1400px) {
         margin-bottom: 96px;

      }

      &>span {
         background-color: #00FA9A;
      }
   }


   &__item {
      display: flex;
      margin-bottom: 32px;

      &:last-child {
         margin-bottom: 0;
      }

      @media (min-width:$md3+px) {
         flex: 0 1 50%;
         width: 50%;
         margin-bottom: 40px;
         padding-right: 24px;
      }

      @media (min-width:1200px) {
         flex: 0 1 33%;
         width: 33%;
         padding-right: 60px;
      }

      &:first-child {
         order: 1;
      }

      &:nth-child(2) {
         order: 2;
      }

      &:nth-child(3) {
         order: 3;

         @media (min-width:1200px) {
            padding-right: 0;
         }
      }

      &:nth-child(4) {
         order: 4;
      }

      &:nth-child(5) {
         order: 5;
      }

      &:last-child {

         order: 6;
      }
   }

   &__item-icon {
      margin-right: 16px;
      flex: 0 0 64px;
      width: 64px;

      @media (min-width:$md4+px) {
         margin-right: 24px;
      }

      @media (min-width:$md2+px) {
         flex: 0 0 80px;
         width: 80px;

      }

      img {
         width: 100%;
      }

   }

   &__item-text {
      font-family: "Source Code Pro";
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;



      @media (min-width:$md2+px) {
         font-size: 18px;
         line-height: 24px;
         padding-top: 5px;
      }
   }
}