.section-06 {
   border-bottom: 3px solid #000000;

   .section__column-content {
      padding: 0;
   }

   .section__text {
      font-style: italic;
      font-weight: normal;
      @include adaptiv-font(36, 22);
      line-height: 32px;
      padding: 0px;

      @media (min-width:$md4+px) {
         padding: 0px 0px 0px 25px;
         line-height: 48px;
      }
   }
}