.section-greed {
   display: flex;
   flex-wrap: wrap;
}

.greed-item {
   margin-bottom: 34px;

   @media (min-width:$md3+px) {
      display: flex;
      margin-bottom: 64px;

      &:nth-child(odd) {
         .greed-item__img {
            &:after {
               display: none;
            }
         }
      }

      &:nth-child(even) {
         .greed-item__img {
            &:before {
               display: none;
            }
         }
      }
   }

   @media (min-width:$md2+px) {
      margin-bottom: 120px;

   }

   &:last-child {
      margin-bottom: 0;
   }

   &:nth-child(even) {
      flex-direction: row-reverse;
   }

}

.greed-item__img {
   position: relative;

   &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      background-image: url(../img/line.svg);
      height: 120px;
      width: 1000%;
   }

   &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      background-image: url(../img/line.svg);
      height: 120px;
      width: 1000%;
   }



   img {
      width: 100%;
   }

   @media (max-width:$md3+px) {
      margin-bottom: 34px;
   }

   @media (min-width:$md3+px) {
      flex: 0 0 50%;
      width: 50%;
   }

}

.greed-item__contant-pl {
   @media (min-width:$md3+px) {
      padding-left: 72px;
   }
}

.greed-item__contant-pr {
   @media (min-width:$md3+px) {
      padding-right: 72px;
   }
}


.greed-item__num {
   background-color: #000;
   color: #fff;
   display: inline-block;
   line-height: 24px;
   font-family: "Formular";
   font-weight: bold;
   margin-bottom: 16px;

   @media (min-width:$md2+px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 33px;
   }
}

.greed-item__txt {
   font-size: 18px;
   line-height: 24px;

   @media (min-width:$md2+px) {
      font-size: 24px;
      line-height: 32px;
   }
}