.spollers {
   text-align: justify;

   @media (max-width: $md3+px) {
      margin-bottom: 60px;
   }

   &__item {
      border: 4px solid #000000;
      background-color: #fff;
      border-bottom: none;

      &:last-child {
         border: 4px solid #000000;
      }
   }

   &__title {
      color: #262626;
      cursor: pointer;
      @include adaptiv-font(24, 14);
      padding: 16px 16px 24px 16px;
      @include anim(0.3s, 0s);
      position: relative;
      font-family: "Formular";
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      text-transform: capitalize;

      &.active {
         color: #00FA9A;
         background-color: #000;

         &:before {
            transform: rotate(180deg);
         }
      }

      &:before {
         content: "";
         position: absolute;
         @include anim(0.3s, 0s);
         top: 15px;
         right: 30px;
         background: url(../img/section-13/01.svg) no-repeat, 0 0;
         background-size: contain;
         width: 31px;
         height: 28px;

         @media (max-width:$md3+px) {
            right: 10px;
            width: 21px;
            height: 24px;
            top: 23px;
         }
      }

      @media (max-width:$md3+px) {
         padding-right: 60px;
         line-height: 16px;
      }
   }

   &__text {
      padding: 48px 112px;
      background-color: #fff;
      display: none;
      font-weight: normal;
      @include adaptiv-font(18, 12);
      line-height: 24px;

      @media (max-width:$md3+px) {
         padding: 8px 16px;
         line-height: 16px;
      }
   }
}