.section {
   padding: 37px 0px 37px 0px;

   @media (min-width:$md3+px) {
      padding: 87px 0px 80px 0px;
   }

   .title {
      margin-bottom: 24px;

      @media (min-width:$md3+px) {
         margin-bottom: 48px;

      }

      &>span {
         background-color: #00FA9A;
      }
   }

   &-body {

      @media (min-width:$md3+px) {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }

   &__column {}

   &__item {
      flex: 0 1 100%;
      width: 100%;
      display: flex;
      margin-bottom: 48px;

      @media (min-width:$md3+px) {
         flex: 0 1 47%;
         width: 47%;
      }

      @media (mminax-width:$md2+px) {
         flex: 0 1 27%;
         width: 27%;
      }

      &:nth-child(2n+3) {
         margin-right: 0;
      }

   }

   &__item-icon {
      margin-right: 36px;
   }

   &__item-text {
      padding-top: 5px;
      font-family: Source Code Pro;
      font-weight: normal;
      @include adaptiv-font(18, 14);
      line-height: 16px;

      @media (min-width:$md3+px) {
         line-height: 24px;
      }
   }
}

.section-01 {
   border-bottom: 3px solid #000000;
   padding-bottom: 17px;

   @media (min-width:$md3+px) {
      padding-bottom: 37px;
   }
}