.section-03 {}

.section-03 {

   .section-body {
      justify-content: space-between;
   }
}

.body-item {


   text-align: center;

   @media (min-width:$md3+px) {
      flex: 0 1 21%;
      width: 21%;
   }

   &:first-child {
      .body-item__step {
         background: #000;
         color: #fff;
      }

      .body-item__text {
         @include adaptiv-font(18, 12);
      }
   }

   &__img {
      margin-bottom: 48px;
      padding: 0px 40px 0px 40px;

      img {
         max-width: 100%;
      }
   }

   &__title {
      font-family: "Formular";
      font-weight: bold;
      @include adaptiv-font(32, 14);
      line-height: 40px;
      margin-bottom: 16px;
   }

   &__step {
      padding: 8px 0px 8px 0px;
      background: #00FA9A;
      font-family: "Source Code Pro";
      font-weight: normal;
      @include adaptiv-font(24, 14);
      margin-bottom: 18px;

      &.black {}
   }

   &__text {
      font-family: "Source Code Pro";
      font-weight: normal;
      @include adaptiv-font(24, 14);
      line-height: 24px;
   }
}

.body-slider {
   padding-bottom: 30px;

   .slick-dots {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 50%;
      margin-right: -25px;
   }

   li {
      margin-right: 10px;

      &:last-child {
         margin-right: 0;
      }

      button {
         width: 8px;
         height: 8px;
         background: #00FA9A;
         border-radius: 50%;
         font-size: 0;

         @media (min-width:$md3+px) {
            width: 16px;
            height: 16px;
         }
      }

      &.slick-active {
         button {
            background: #000;
         }
      }
   }
}