.section-12 {
   border-bottom: 3px solid #000000;

   .section__text {
      margin-top: 28px;

      @media (min-width:$md3+px) {
         margin-top: 48px;
      }
   }


}

.section__column-content {
   @media (max-width:$md3+px) {
      margin-bottom: 30px;
   }
}

.postitle {
   font-style: italic;
   font-weight: normal;
   @include adaptiv-font(36, 20);
   line-height: 24px;
   background-color: #00FA9A;



   @media (min-width:$md3+px) {
      line-height: 36px;
   }
}