.section-12 {
   .section__column {
      margin-bottom: 32px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   @media (min-width:$md3+px) {
      .section-body {
         flex-wrap: nowrap;
      }
   }

   .action-block {
      p {
         font-size: 13px;
         line-height: 20px;
         margin-bottom: 16px;
      }
   }
}

.section {
   &__list {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      padding-left: 22px;

      @media (min-width:$md3+px) {
         padding-right: 22px;
         font-size: 18px;
         line-height: 32px;
      }

      @media (min-width:1300px) {
         @include adaptiv-font(24, 14);
         font-size: 24px;
      }

      li {
         list-style: none;
         position: relative;

         &:after {
            content: '';
            position: absolute;
            top: 8px;
            left: -16px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #000;
         }

         @media (min-width:1200px) {
            &:after {
               top: 16px;
            }
         }

         margin-bottom: 16px;
      }
   }

   &__package {
      margin-bottom: 32px;

      @media (min-width:$md3+px) {
         margin-bottom: 46px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 102px;
      }
   }
}