.section-13 {
   border: none;
}

.spollers {
   &__item {
      background-color: #fff;

      &:last-child {
         .spollers__title {
            border: 4px solid #000000;
         }
      }
   }

   &__title {
      font-family: "Formular";
      font-weight: bold;
      @include adaptiv-font(24, 14);
      line-height: 24px;
      color: #262626;
      cursor: pointer;
      position: relative;
      @include anim(0.3s, 0s);
      padding: 16px 56px 16px 16px;
      border: 4px solid #000000;
      border-bottom: none;



      &.active {
         color: #00FA9A;
         background-color: #000;

         &:before {
            transform: rotate(180deg);
         }
      }

      @media (min-width:$md3+px) {
         text-transform: capitalize;
         padding-bottom: 24px;
         line-height: 32px;
      }

      &:before {
         content: "";
         position: absolute;
         @include anim(0.3s, 0s);
         top: 50%;
         right: 30px;
         margin-top: -14px;
         background: url(../img/section-13/01.svg) no-repeat, 0 0;
         background-size: contain;
         width: 31px;
         height: 28px;

         @media (max-width:$md3+px) {
            right: 10px;
            width: 21px;
            height: 24px;
         }
      }
   }

   &__text {
      padding: 16px 8px 24px 8px;
      line-height: 16px;
      background-color: #fff;
      @include adaptiv-font(18, 12);
      display: none;

      @media (min-width:$md3+px) {
         padding: 28px 62px;
         line-height: 24px;
      }

      @media (min-width:1200px) {
         padding: 48px 112px;
      }
   }
}

.spoller.active+.spollers__text {
   border: none;
}