.section-07 {
   border-bottom: none;

   @media (min-width:$md2+px) {
      padding-bottom: 96px;
   }

   .section__item {
      display: block;
   }

   .section__item:nth-child(3) {
      padding-right: 60px;
   }

   .section-body {
      margin-bottom: 64px;
   }

   .section__item {

      margin-bottom: 32px;

      @media (min-width:$md2+px) {
         flex: 0 1 50%;
         width: 50%;
         margin-bottom: 72px;
      }
   }
}

.item-section {

   &__title {
      display: inline;
      font-family: "Formular";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      padding: 0px 2px 0px 2px;
      line-height: 24px;
      background-color: #00FA9A;
      box-shadow: -4px 0 0 #00FA9A, 6px 0 0 #00FA9A;

      @media (min-width:$md2+px) {
         line-height: 40px;
      }
   }

   &__text {
      @include adaptiv-font(18, 14);
      line-height: 16px;
      margin-top: 16px;

      @media (min-width:$md2+px) {
         line-height: 24px;
      }
   }
}

.section-bottom {
   background-color: #00FA9A;
   padding: 12px 0px 12px 0px;
   font-style: italic;
   font-family: 'Source Code Pro', monospace;
   font-size: 14px;
   line-height: 24px;


   @media (min-width:$md2+px) {
      line-height: 48px;
      @include adaptiv-font(36, 14);
   }
}