.section-02 {
   border-bottom: 3px solid #000000;
}

.section {

   @media (min-width:$md2+px) {
      &__column {
         flex: 0 1 50%;
         width: 50%;
      }

      &__column-content {
         padding-right: 114px;
      }
   }

   &__text {
      font-weight: normal;
      @include adaptiv-font(18, 14);
      line-height: 16px;

      @media (min-width:$md3+px) {
         line-height: 24px;
      }

      span {
         background-color: #00FA9A;
      }
   }

   &__column-img {
      img {
         margin-bottom: 26px;

         @media (max-width:$md3+px) {
            margin-bottom: 16px;
         }
      }
   }
}