.section-09 {
   .section__item {
      flex: 0 1 37%;
      width: 37%;

   }

   .section__item:nth-child(n+2) {
      margin-right: 0;
   }

   .section__item:nth-child(2n+3) {
      margin-right: 66px;
   }
}

.section__item-icon {
   width: 80px;
   flex: 0 0 80px;
}

.section__item-title {
   font-family: "Formular";
   font-weight: bold;
   @include adaptiv-font(32, 18);
   line-height: 40px;
}



.section__item-content {
   display: flex;
   flex-direction: column;
}