.section-09 {
   border-bottom: 3px solid #000000;

   .section__item {
      @media (min-width:$md3+px) {
         flex: 0 1 45%;
         width: 45%;
      }

   }

   .section__item:nth-child(n+2) {
      margin-right: 0;
   }

   .section__item:nth-child(2n+3) {
      margin-right: 66px;
   }
}

.section__item-icon {
   width: 80px;
   flex: 0 0 80px;
}

.section__item-title {
   font-family: "Formular";
   font-weight: bold;
   @include adaptiv-font(32, 18);
   line-height: 40px;
}



.section__item-content {
   display: flex;
   flex-direction: column;
}