//<BUTTONS>====================================================================================================
.btn {
   display: inline-flex;
   align-items: center;
   padding: 0px 10px 0px 10px;
   font-family: "Formular";
   font-weight: bold;
   @include adaptiv-font(24, 18);
   height: 56px;
   color: #000000;
   background: #00FA9A;
   margin-right: 16px;

   &:last-child {
      margin-right: 0;
   }

   @media (max-width:$md4+px) {
      width: 130px;
      height: 40px;
   }

   @media (min-width:$md3+px) {
      margin-right: 30px;
      padding: 0px 16px 0px 19px;
   }

   &:hover {}


   &.fw {
      width: 100%;
   }

   i {
      margin-right: 19px;

      @media (max-width:$md4+px) {
         margin-right: 9px;
      }
   }
}

//</BUTTONS>====================================================================================================