@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
      url('../fonts/SourceCodePro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Formular';
   src: url('../fonts/Formular-Bold.woff2') format('woff2'),
      url('../fonts/Formular-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Source Code Pro';
   src: url('../fonts/SourceCodePro-It.woff2') format('woff2'),
      url('../fonts/SourceCodePro-It.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}